mulejsonmultidataprocess/src/main/app/mulejsonmultidataprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="mulejsonmultidataprocessFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/multijson" doc:name="HTTP"/>
        <logger message="Inside the Flow #[payload]" level="INFO" doc:name="Logger"/>
        <foreach collection="#[json:]" doc:name="For Each">
            <set-variable variableName="empid" value="#[json:eid]" doc:name="Variable"/>
            <set-variable variableName="ename" value="#[json:ename]" doc:name="Variable"/>
            <logger message="#[flowVars.empid] --#[flowVars.ename]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
    <flow name="mulejsonmultidataprocessFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/multixml" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <foreach collection="#[xpath3('//Employees/Employee',payload,'NODESET')]" doc:name="For Each">
            <set-variable variableName="eid" value="#[xpath3('eid')]" doc:name="Variable"/>
            <set-variable variableName="ename" value="#[xpath3('ename')]" doc:name="Variable"/>
            <logger message="#[flowVars.eid]--#[flowVars.ename]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
</mule>
